include README.md
include README.zh-CN.md
include LICENSE
include CHANGELOG.md
include CONTRIBUTING.md
include SECURITY.md
include requirements.txt
recursive-include config *.yaml
recursive-include docs *.md
